Package: wasta-backup
Version: 0.9-0
Section: base
Priority: optional
Architecture: amd64
Depends: libqt4-dbus (>= 4.8.1), libqt4-opengl (>= 4.8.1), libqt4-test (>=4.8.1), rdiff-backup (>= 1.2.8-7)
Maintainer: iveand <iveand@gmail.com>
Installed-Size: 180
Section: utils
Description:wasta-backup
 Simple backup tool using the power of rdiff-backup for version backups.
