[Desktop Entry]
Name=wasta [Backup]
Comment=Simple Data Backup Tool
Exec=wasta-backup
Terminal=false
Type=Application
Icon=wasta-backup
Categories=Application;Qt;Utility;
