[Desktop Entry]
Name=wasta [Backup]
Comment=Simple Data Backup Tool
Name[es]=wasta [Backup]
Comment[es]=Simple Data Backup Tool
Name[fr]=wasta [Sauvegarder]
Comment[fr]=Appli simple pour faire des sauvegardes par version
Name[ru]=wasta [Архивация]
Comment[ru]=Simple Data Backup Tool
Exec=wasta-backup
Terminal=false
Type=Application
Icon=wasta-backup
Categories=Application;Qt;Utility;
