Package: wasta-backup
Version: 1.1.1
Architecture: amd64
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Installed-Size: 681
Depends: at, rdiff-backup (>= 1.2.8), libc6 (>= 2.4), libgcc1 (>= 1:3.0), libqt4-network (>= 4:4.5.3), libqt4-test (>= 4:4.5.3), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.1.1)
Section: utils
Priority: extra
Homepage: https://sites.google.com/site/wastalinux/wasta-applications/wasta-backup
Description: Simple versioned backups
 Simple backup tool using the power of rdiff-backup for versioned backups.
